!!! 5
%html
  %head
  %meta{charset: "utf-8"}/
  <meta name="viewport" content="width=device-width, initial-scale=1">
  / Always force latest IE rendering engine or request Chrome Frame
  %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

  / Use title if it's in the page YAML frontmatter
  %title= current_page.data.title || "KRAM widget"

  %link{ href: 'http://fonts.googleapis.com/css?family=Cabin:400,700', rel: 'stylesheet', type:'text/css'}

  = stylesheet_link_tag "app"

  /[if lt IE 9]
    :javascript
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');

    %style{type: "text/css"}
      i.arrow {display:none};

  %body

    = yield

    = javascript_include_tag "http://cyberhus.dk/widgets/kram/forum?callback=forum", "http://cyberhus.dk/widgets/kram/letterbox?callback=letterbox"