<!doctype html>
%html{:lang => "en"}
%head
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  %meta{:charset => "UTF-8"}/
  %title Guide til installation af KRAM widget
  %link{:rel => "stylesheet", :href => "http://f.cl.ly/items/1s0b021y0F0Y2S0K3A3z/foundation.min.css"}/
  %style
    img.logo {padding: 2em 0 1em; display:block}
    h1, h3 {padding-top:2.5em}
    img.outline {border: solid 5px #fff; outline: solid 1px #ccc; margin-bottom: 3em;}
%body.antialiased
  .row
    .columns
      .row
        .columns
          %img.logo{:src => "http://f.cl.ly/items/2n382V180M1V00232m0E/cfdp.jpg", :alt => "CfDP logo", width: "322px"}

      %h1 Guide on how to install KRAM widget

      %h3 This is the KRAM widget
      <script src="http://kram-widget.cfdp.dk/kram-widget-client.js"></script>
      <div id="kram-widget"></div>

      %h3 Code snippet
      %p Paste following code where you want the KRAM widget to appear on your website (you can move kram-widget-client.js script to the bottom if you like).
      <script src="https://gist.github.com/cyberhus/5920659.js"></script>

      %h3 Integration examples
      %img.outline{:src => "http://f.cl.ly/items/062S2z0t3B1i0d1k1t2K/Screen%20Shot%202013-06-24%20at%2010.38.43%20AM.png", :alt => "Ungdomsskolen"}
      %img.outline{:src => "http://f.cl.ly/items/0X453f26123O0M3z3u1a/Screen%20Shot%202013-06-24%20at%2010.47.43%20AM.png", :alt => "CPH West"}
      %img.outline{:src => "http://f.cl.ly/items/1X1Y2a1m060p1G0X361T/Screen%20Shot%202013-06-24%20at%2011.06.07%20AM.png", :alt => "Ørestad Gymnasium"}


